<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>上传记录</title>
</head>
<body>
    <h1>记录上传</h1>
    <p>上次记录：<img src="{{ pred.image.url }}" />{{ pred.tag }}<a href="/show">所有记录</a>
    </p>

     <form action="" method="post" enctype="multipart/form-data" id="form_file">
        {% csrf_token %}
        标签:<input type="text" name="tag" value="">
        <input type="hidden" name="etc" value="file">
         <input type="file" name="img">
        <input type="submit" value="上传图片文件" onclick="document.form_draw.submit()">
    </form>
     <p></p>
    <div class="container">
		<div class="row">
			<div class="col-md-12">


			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
		 		<canvas id="sig-canvas" width="300" height="300" >
		 			Get a better browser, bro.
		 		</canvas>
		 	</div>
		</div>
        <form action="" method="post" id="form_draw">
		   {% csrf_token %}
		标签:<input type="text" name="tag" value="">
            <input type="hidden" name="etc" value="draw">
		    <input type="hidden" name="image_data" value="">

	</form>
		<div class="row">
			<div class="col-md-12">
				<button class="btn btn-primary" id="sig-submitBtn">上传手迹</button>
				<button class="btn btn-default" id="sig-clearBtn">重画</button>
			</div>
		</div>
    </div>

    <script src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
    <script src="../static/draw.js"></script>

</body>
</html>